.movies {
    height: 700px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial;
    background-color: rgb(88, 122, 138);
}


h2 {
font-size: 100px;
background-color: rgb(14, 110, 155);
box-shadow: 5px 5px 20px rgb(0, 0, 0) ;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
bottom: 82px;
}


h1 {
font-size: 100px;
color: white;
color: black;
margin-left: auto;
margin-right: auto;
}

span {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    justify-content: center;
}

.Movies {
    background-color: rgb(65, 150, 150);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transition: 0.8s ease;
}

.Movies:hover {
    transform: scale(1.1);
}

.Siedem {
    height: 700px;
    width: 500px;
}

.posters {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
     transition: transform 1s ease;
}
.posters:hover {
    transform: scale(1.1);
}
.Labirynt {
    height: 700px;
    width: 500px;
}
.series {
    display: flex;
    vertical-align: auto;
}
 .serial {
    background-color: rgb(106, 186, 223);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transition: 0.8s ease;

 }

 .serial:hover {
    transform: scale(1.1);
 }
 .serialdis{
    position: relative;
    left: 400px;
    margin-top: 100px;
   
 }

 .cyberpunk {
    height: 600px;
    width: 900px;
 }

 .Arcane {
    height: 600px;
    width: 900px;
 }
 .instagram {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 60px;
    transition: 0.2s ease;
    margin-right: 150px;
 }
 .instagram:hover {
    transform: scale(1.1);
 }

 .facebook {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 60px;
    transition: 0.2s ease;
    margin-right: 150px;
 }

 .facebook:hover {
    transform: scale(1.1);
 }


